/* Estilo para as imagens */
.grid-item {
  object-fit: cover;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(2, 220px);
  grid-gap: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.prev-button,
.next-button {
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
